/* Fondo general  */
body {
    background: #f7f6ff;
}

/* Título */
.titulo {
    font-weight: bold;
    color: #5a3ec8;
}

/* Formulario */
.form-card {
    border-radius: 20px;
    background: white;
    border: 1px solid #ece9ff;
}

/* Alimentar a evento social */
.feed {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* bloque ESTILO visual social */
.card-post {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/* Imagen arriba */
.card-post img {
    width: 50%;
    height: auto;
    container: ;
}

/* Contenido */
.card-body h5 {
    font-weight: 600;
    margin-bottom: 5px;
}

.card-body p {
    margin-bottom: 10px;
}

/* Like */
.like-btn {
    font-size: 28px;
    cursor: pointer;
    transition: transform 0.2s ease;
    user-select: none;
}

.like-btn:hover {
    transform: scale(1.2);
}

/* Corazón cuando está activo */
.liked {
    color: #ff2d55 !important;
}

/* Animación de "pop" al dar like */
@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.6); }
    100% { transform: scale(1); }
}
